[Desktop Entry]
Comment=
Exec=sudo sh /usr/share/titanlinux/titantoolbox/Firewall.sh
GenericName=Enable, Disable or View the status of the UFW firewall.
Icon=firewall-applet-shields_up
Name=Firewall
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
