[Desktop Entry]
Comment=
Exec=sudo sh /usr/share/titanlinux/titantoolbox/InstallDVD.sh
GenericName=Install libdvd-pkg and reconfigure it for encrypted DVD playback.
Icon=media-optical-dvd-symbolic
Name=Install Encrypted DVD Support
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
