[Desktop Entry]
Comment=
Exec=sudo sh /usr/share/titanlinux/titantoolbox/InstallKernel.sh
GenericName=Use at your own risk! (Backports Required)
Icon=data-warning
Name=Install Latest Available Backported Kernel
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
