[Desktop Entry]
Comment=
Exec=sudo sh /usr/share/titanlinux/titantoolbox/InstallSnap.sh
GenericName=Install Snap Support and backends for discover.
Icon=list-add-symbolic
Name=Install Snap Support
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
