[Desktop Entry]
Comment=
Exec=sudo sh /usr/share/titanlinux/titantoolbox/DumpApt.sh
GenericName=Dump installed packages into a txt file.
Icon=folder-download-symbolic
Name=Package Dump
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
