[Desktop Entry]
Comment=
Exec=sudo sh /usr/share/titanlinux/titantoolbox/SystemUpdate.sh
GenericName=Checks for updates and performs a full upgrade.
Icon=view-refresh
Name=System Updater
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
