[Desktop Entry]
Comment=
Exec=sh /usr/share/titanlinux/titantoolbox/RepoMenu.sh
GenericName=Add extra repos to your system such as backports, flatpak or snap.
Icon=plugins
Name=Extra Repositories
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
