[Desktop Entry]
Comment=
Exec=sudo sh /usr/share/titanlinux/titantoolbox/Install32Bit.sh
GenericName=Enables the i386 architecture to install libraries needed for some apps.
Icon=checkmark
Name=Enable 32-bit Libraries
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
