[Desktop Entry]
Comment=
Exec=sh /usr/share/titanlinux/titantoolbox/HardwareInformation.sh
GenericName=View your hardware information or dump it into a text file.
Icon=computer-symbolic
Name=Hardware Information
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
