[Desktop Entry]
Comment=
Exec=sudo sh /usr/share/titanlinux/titantoolbox/browsers/InstallChromium.sh
Icon=folder-remote-symbolic
Name=Install Chromium
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
