[Desktop Entry]
Comment=
Exec=sudo sh /usr/share/titanlinux/titantoolbox/browsers/InstallLibrewolf.sh
GenericName=
Icon=folder-remote-symbolic
Name=Install LibreWolf
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
