[Desktop Entry]
Comment=
Exec=sh /usr/share/titanlinux/titantoolbox/ResetPanel.sh
GenericName=Reset the panel and widgets to Titan Linux default.
Icon=/usr/share/titanlinux/titan-dark.png
Name=Restore Titan Linux Default
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
