[Desktop Entry]
Comment=
Exec=sudo sh /usr/share/titanlinux/titantoolbox/RestartNetworkServices.sh
GenericName=Restart the network service in case of instability.
Icon=network-wired-activated
Name=Restart Network Service
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
