[Desktop Entry]
Comment=
Exec=xkill
GenericName=Click an application to terminate it's process.
Icon=dialog-close
Name=Application Terminator
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
