[Desktop Entry]
Comment=
Exec=sudo sh /usr/share/titanlinux/titantoolbox/InstallRepos.sh
GenericName=Install the non-free, contrib and backports repos for extra software.
Icon=checkmark
Name=Enable Extra Repositories
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
