[Desktop Entry]
Comment=
Exec=sudo sh /usr/share/titanlinux/titantoolbox/InstallKernel.sh
GenericName=Install the backported kernel from the backports.
Icon=emblem-default-symbolic
Name=Install Backported Kernel
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
