[Desktop Entry]
Comment=
Exec=sh /usr/share/titanlinux/titantoolbox/PlasmaDefaultLayout.sh
GenericName=Resets the panel layout to a stock Plasma 5 setup.
Icon=start-here-kde-plasma
Name=Restore Plasma 5 Default
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
