[Desktop Entry]
Comment=
Exec=xdg-open https://discord.gg/8cQg6Unu
GenericName=Invite link to our discord server for support of Titan Linux!
Icon=/usr/share/titanlinux/titan-dark.png
Name=Titan Linux Support (Discord)
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
